In [1]:
import pandas as pd
import numpy as np

In [2]:
x = [1,2,3,4,5]

In [3]:
pd.Series(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
x = np.array([1,2,3,4,5])

In [5]:
pd.Series(x)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [6]:
x = pd.Series(x)

In [7]:
x[0]

1

In [8]:
x[1:3]

1    2
2    3
dtype: int32

In [9]:
x[::-1]

4    5
3    4
2    3
1    2
0    1
dtype: int32

In [10]:
x[x>3]

3    4
4    5
dtype: int32

In [11]:
x + 1

0    2
1    3
2    4
3    5
4    6
dtype: int32

In [12]:
x + x

0     2
1     4
2     6
3     8
4    10
dtype: int32

In [13]:
x * 1

0    1
1    2
2    3
3    4
4    5
dtype: int32

## Series Index

기본적으로 index와 value로 값이 구분되어 있다.

기본 index 값은 0부터 시작하는 숫자값이지만 변경 가능하다.

pd.Series(x, index = ['a','b','c','d','e'])


### 명시적 인덱스 접근
x['a']

### 묵시적 인덱스 접근 
x[0]

### 팬시색인, 한번에 여러값 접근
x[['a','e']]

### 또 다른 접근 방법
x.a

In [17]:
X = [1,2,3,4,5]
X = pd.Series(X, index = ['a','b','c','d','e'])

In [18]:
X

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [21]:
X['c']

3

In [22]:
X[2]

3

In [23]:
X[['a','e']]

a    1
e    5
dtype: int64

In [24]:
X.a

1

## 딕셔너리 to Series

딕셔너리를 사용하여 Series 를 만들면 key 값을 index로 사용한다.

In [30]:
x = {'수학':90, '영어': 80, '과학':95, '미술':80}

In [31]:
x= pd.Series(x)

In [32]:
x

수학    90
영어    80
과학    95
미술    80
dtype: int64

In [33]:
x['수학']

90

In [34]:
x['영어':]

영어    80
과학    95
미술    80
dtype: int64

In [35]:
x['영어':'과학']

영어    80
과학    95
dtype: int64

In [36]:
x = pd.Series(x, index = ['수학','영어','과학'])

In [37]:
x

수학    90
영어    80
과학    95
dtype: int64

### Multi Index
     홍길동                  이몽룡
     수학 영어 과학 미술     수학 영어 과학 미술

In [39]:
index_1 = ['홍길동','홍길동','홍길동','홍길동','이몽룡','이몽룡','이몽룡','이몽룡']
index_2 = ['수학','영어','과학','미술','수학','영어','과학','미술']
value = [90,80,95,80,70,90,100,70]

In [40]:
pd.Series(value, index=[index_1,index_2])

홍길동  수학     90
     영어     80
     과학     95
     미술     80
이몽룡  수학     70
     영어     90
     과학    100
     미술     70
dtype: int64

In [41]:
student_1 = {'수학': 90, '영어':80, '과학':95, '미술':80}
student_2 = {'수학': 70, '영어':90, '과학':100, '미술':70}

In [42]:
index_2 = [i for i in student_1] + [i for i in student_2]

In [43]:
index_2

['수학', '영어', '과학', '미술', '수학', '영어', '과학', '미술']

In [44]:
value = list(student_1.values()) + list(student_2.values())

In [45]:
value

[90, 80, 95, 80, 70, 90, 100, 70]

### 결측값 처리 방법(NaN, None) 
: 비어있는 값들에 대한 처리

In [51]:
x = [1, None, 2, None, 3, 4, None]
x = pd.Series(x)
x

0    1.0
1    NaN
2    2.0
3    NaN
4    3.0
5    4.0
6    NaN
dtype: float64

In [ ]:
# 결측값을 무시하고 계산

In [52]:
x. sum()

10.0

In [53]:
x.min()

1.0

In [47]:
#결측값 개수

In [54]:
x.isnull()

0    False
1     True
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [56]:
x.isnull().sum()

3

In [57]:
x.notnull().sum()

4

In [48]:
#결측값 제거

In [58]:
x.dropna()

0    1.0
2    2.0
4    3.0
5    4.0
dtype: float64

In [59]:
#결측값을 다른 값으로 채우기

In [60]:
x.fillna(0)

0    1.0
1    0.0
2    2.0
3    0.0
4    3.0
5    4.0
6    0.0
dtype: float64

### Concat 
데이터 연결, numpy concatenate기능

In [61]:
#같은 인덱스 번호가 있을 경우 오류

In [65]:
x= pd.Series([1,2,3])
y= pd.Series([4,5,6])
z= pd.Series([7,8,9])

In [68]:
pd.concat([x,y,z])

0    1
1    2
2    3
0    4
1    5
2    6
0    7
1    8
2    9
dtype: int64

In [69]:
pd.concat([x,y,z],verify_integrity = True)

ValueError: Indexes have overlapping values: Int64Index([0, 1, 2], dtype='int64')

In [62]:
#합치면서 인덱스 번호를 다시 정리

In [70]:
pd.concat([x,y,z],ignore_index = True)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [63]:
#축변경

In [71]:
pd.concat([x,y,z],ignore_index = True, axis =1)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [72]:
x= pd.Series([1,2,3,4])
y= pd.Series([4,5,6])
z= pd.Series([7,8,9])

In [73]:
pd.concat([x,y,z],ignore_index = True, axis =1)

   0    1    2
0  1  4.0  7.0
1  2  5.0  8.0
2  3  6.0  9.0
3  4  NaN  NaN

In [64]:
#개수가 맞지 않을 경우 교집합

In [76]:
pd.concat([x,y,z],ignore_index = True, axis = 1, join = 'inner')

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [77]:
#개수가 맞지 않을 경우 합집합

In [78]:
pd.concat([x,y,z],ignore_index = True, axis = 1, join = 'outer')

   0    1    2
0  1  4.0  7.0
1  2  5.0  8.0
2  3  6.0  9.0
3  4  NaN  NaN

### 연산과 집계함수
.add() 더하기

.sub() 빼기

.mul() 곱하기

.count() 요소들의 개수카운트

.min() 최소값

.max() 최대값

.mean() 평균값

.median() 중간값

.sum() 합계

.std() 표준편차

.var() 분산

.mad() 절대표준편차

.describe() 기초통계 모두 

.head() 앞의 일부데이터 확인

.tail() 뒤의 일부데이터 확인

In [79]:
x = pd.Series([1,2,3,4,5])
y = pd.Series([6,7,8,9,10])

In [80]:
x+y

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [83]:
x.add(y)

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [84]:
x-y

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [85]:
x.sub(y)

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [86]:
x.count()

5

In [87]:
x.min()

1

In [88]:
x.max()

5

In [90]:
x.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [91]:
x.head(2)

0    1
1    2
dtype: int64

In [92]:
x.tail(2)

3    4
4    5
dtype: int64